<template>
  <page>
    <template v-slot:title>
      <span v-html="$t('views.about.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.about.subheading')" />
    </template>
    <div>
      <div v-if="$i18n.locale === 'fr'">
        <p>
          Quiconque vit ou travaille au Luxembourg peut y apporter ses
          histoires et souvenirs. <br />
          La plateforme est maintenue et organisée par des chercheurs du
          <a href="">Luxembourg Centre for Contemporary and Digital History (C2DH)</a>.
          La plateforme est hébergée sur un serveur de l'Université du Luxembourg.
        </p>
        <h4>Nos commissaires</h4>
        <p>
          Estelle Bunout, Cécile Duval, Marco Gabellini, Nina Janz,
          François Klein, Laurence Maufort, Werner Tschacher et Lorella Viola
        </p>
        <h4>Comité de projet</h4>
        <p>
          Christoph Brüll, Stefan Krebs (PI), Sean Takats et Lars Wieneke
        </p>
        <h4>Design et developpement</h4>
        <p>
          Daniele Guido, Robert Beta, Paul Schroeder, Sean Takats
        <p>
        <p>
          Si vous avez des questions, veuillez utiliser notre formulaire de contact.
        </p>
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        <p>
          Alle die in Luxemburg leben oder arbeiten können ihre eigenen Erinnerungen
          und Geschichten beitragen. <br />
          Die Plattform wird von Forscherinnen und
          Forschern des <a href="">Luxembourg Centre for Contemporary and
          Digital History (C2DH)</a> betrieben und gepflegt.
          Die Plattform wird auf einem Server der Universität Luxemburg gehostet.
        </p>
        <h4>Das Kuratorenteam</h4>
        <p>
          Estelle Bunout, Cécile Duval, Marco Gabellini, Nina Janz,
          François Klein, Laurence Maufort, Werner Tschacher und Lorella Viola
        </p>
        <h4>Projektleitung</h4>
        <p>
          Christoph Brüll, Stefan Krebs (PI), Sean Takats und Lars Wieneke
        </p>
        <h4>Design und Entwicklung</h4>
        <p>
          Daniele Guido, Robert Beta, Paul Schroeder, Sean Takats
        <p>
        Bei Fragen nutzen Sie bitte unser Kontakformular.
        </p>
      </div>
      <div v-else>
        <p>
          Everybody who lives or works in Luxembourg can contribute her/his
          stories and memories. <br />
          The platform is maintained and curated by researchers of the
          <a href="https://c2dh.uni.lu" target="_blank">Luxembourg
          Centre for Contemporary and Digital History (C2DH)</a>.
          The platform is hosted on a server of the University of Luxembourg.
        </p>
        <h4>Our curators</h4>
        <p>
          Estelle Bunout, Cécile Duval, Marco Gabellini, Nina Janz,
          François Klein, Laurence Maufort, Werner Tschacher and Lorella Viola
        </p>
        <h4>Project committee</h4>
        <p>
          Christoph Brüll, Stefan Krebs (PI), Sean Takats und Lars Wieneke
        </p>
        <h4>Design and development</h4>
        <p>
          Daniele Guido, Robert Beta, Paul Schroeder, Sean Takats
        </p>
        <p>
          If you have questions please use our contact form.
        </p>
      </div>
    </div>
  </page>
</template>

<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
