<template>
  <div class="home">
    <div class="rellax-wrapper" v-on:mousemove="updateCoordinates">
    <h1 v-rellax="{speed: -2}" v-html="$t('views.intro.title')" />
    <h2 v-rellax="{speed: -2.5}" >
      <span>{{ $t('views.intro.subheading')}}</span>
      <br />
      <router-link :to="{ name: 'Intro' }">{{ $t('project.more') }}</router-link>
    </h2>
    <div v-rellax="{speed: -3}" class="my-5">
      <b-button variant="outline-dark" size="lg" :href="getFormURL">
        {{$t('actions.createMemory')}}
      </b-button>
    </div>
    <div>
      <a class="memory-shape-wrapper empty " v-rellax="{speed: -5}" :href="getFormURL">
        <div class="memory-shape pulsate-css"></div>
        <div>+</div>
      </a>
      <div class="memory-shape-wrapper d-flex align-items-center"
        :style="{
          width: `${3.5 * memory.scale}rem`,
          height: `${3.5 * memory.scale}rem`,
          backgroundImage: `url(${memory.getThumbnail()}`,
          backgrundSize:'cover',
        }"
        @mouseover="selectMemory(memory)"
        @mouseout="unselectMemory"
        @click="openMemory(memory)"
        v-for="(memory, i) in memories" :key="i"
        v-rellax="memoryRellaxParams(i)">
        <div class="memory-shape" :style="{
          backgroundColor: `#${memory.color}`,

        }">
        </div>
        <div class="hint">{{ memory.title }}</div>
      </div>
    </div>
    <tooltip :item="selectedMemory" :visible="isSelectedMemoryVisible" :coords="coords"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
h1{
  font-size: 2.15rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: left;
}
h2{
  font-size: 1.25rem;
  text-align: left;
}
@media (min-width: 768px) {
  h1{
    margin-top: 0;
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
  }
  h2{
    font-size: 2rem;
    text-align: center;
  }
}
@media (min-width: 992px) {
  h1{
    font-size: 8rem;
    line-height: 8rem;
  }
  h2{
    font-size: 2rem;
  }
}

.rellax-wrapper{
  min-height: 1200px;
}
.memory-shape-wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
  float: left;
  // border: 1px solid;
  border-radius: 50%;

  .hint {
    font-size: .8rem;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
    color: white;
    font-weight: bold;
  }
  &:hover .memory-shape{
    transform: scale(.15);
  }
}

.memory-shape-wrapper.empty{
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .memory-shape-wrapper{
    width: 10rem;
    height: 10rem;
  }
}
.memory-shape{
  background: #fe654f;
  width: 100%;
  height:100%;
  position: absolute;
  left: 0%;
  top: 0%;
  border-radius: 50%;
  opacity: .39;
  z-index: -1;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
</style>
<script>
import { items } from '@/services';
import Memory from '@/models/Memory';
import Tooltip from '@/components/Tooltip.vue';

export default {
  data: () => ({
    memories: [],
    totalMemories: 0,
    selectedMemory: new Memory(),
    isSelectedMemoryVisible: false,
    coords: {
      x: 0,
      y: 0,
    },
  }),
  mounted() {
    this.isSelectedMemoryVisible = false;
    items.find().then(({ data, total }) => {
      // console.info(data, total);
      this.totalMemories = total;
      this.memories = data.map((d) => Memory.create(d));
      // console.info(this.memories);
    });
  },
  computed: {
    getFormURL() {
      return `/omeka-s/s/covidmemory-luxembourg/page/welcome?lang=${this.$i18n.locale}`;
    },
  },
  methods: {
    openMemory(memory) {
      this.$router.push({
        name: 'Memory',
        params: {
          id: memory.id,
        },
      });
    },
    selectMemory(memory) {
      this.selectedMemory = memory;
      this.isSelectedMemoryVisible = true;
    },
    unselectMemory() {
      this.isSelectedMemoryVisible = false;
    },
    updateCoordinates(event) {
      // console.info(event);// pass event object, bound to mouse move with updat
      this.coords = {
        x: event.clientX,
        y: event.clientY + window.scrollY,
      };
    },
    memoryRellaxParams(i) {
      return {
        speed: -2 - Math.sqrt(i + 1),
      };
    },
    async recaptcha() {
      console.info('recaptcha loading...');
      // (optional) Wait until recaptcha has been loaded.
      await this.$recaptchaLoaded();

      // Execute reCAPTCHA with action "login".
      const token = await this.$recaptcha();

      // Do stuff with the received token.
      console.info('recaptcha', token);
    },
  },
  components: {
    Tooltip,
  },
};
</script>
