<template>
  <page class="intro">
    <template v-slot:title>
      <span v-html="$t('views.intro.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.intro.subheading')" />
    </template>

    <!-- default template -->
    <div>
      <div v-if="$i18n.locale === 'fr'">
        <p>
          L'épidémie de Covid-19 fait certainement partie de ces événements
          dont la dimension historique nous paraît immédiatement évidente.
          La comparaison avec la grippe espagnole à la fin de la Première
          Guerre mondiale et le regard très occidental sur la plus grande
          crise depuis la Seconde Guerre mondiale sont sur toutes les lèvres.
          L’état d’urgence déclaré depuis le 18 mars a conduit à des
          restrictions jamais vues auparavant dans notre vie privée et
          professionnelle.
        </p>
        <p>
          Avec la plateforme en ligne #covidmemory, le Centre for Contemporary
          and Digital History (C2DH) de l’Université du Luxembourg veut offrir
          la possibilité à toutes les personnes qui vivent ou travaillent au
          Luxembourg de partager leurs expériences et de les conserver pour
          les générations futures. Chacune et chacun peut charger ses photos,
          vidéos ou textes sur cette plateforme, ouverte et libre. Nous voulons
          documenter et montrer comment cette pandémie a changé nos vies.
        </p>
        <p>
          Comment gérons-nous notre vie familiale avec ou sans distanciation
          sociale ? Comment le télétravail change-t-il notre vie professionnelle ?
          Comment les concerné.e.s et leur environnement affrontent-ils/elles
          la maladie ? Comment l’école fonctionne-t-elle sous la forme de
          l’enseignement numérique ? Quelles sont nos représentations de
          pandémies et d’épidémies ? Comment nous informons-nous ?
          Ce sont là seulement quelques-unes des questions pour lesquelles
          nous souhaitons collectionner les expériences des habitant.e.s
          du Luxembourg, mais aussi des frontalier.e.s.
        </p>
        <p>
          Nous nous intéressons à toutes sortes de documents: affiches,
          avertissements ou ordonnances, e-mails, articles de journaux et de
          revues, listes de courses et rapports d’interventions, mais aussi
          photos, dessins, messages vocaux, chansons et vidéos, "chats" ou
          "posts" issus des médias sociaux. Nous vous invitons tous et
          toutes à charger vos documents sur la plateforme.
        </p>
        <p>
          Ils feront partie d’une collection qui reflétera la crise du Covid19
          au Luxembourg dans toutes ses dimensions.
        </p>
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        <p>
          Covid19 gehört ganz sicher zu den Ereignissen, deren historische
          Dimension uns allen sofort bewusst ist. Vergleiche mit der Spanischen
          Grippe am Ende des Ersten Weltkriegs und die sehr westeuropäische
          Einordnung als schlimmste Krise seit dem Zweiten Weltkrieg sind
          vielfach zu hören.
          Covid19 hat auch Luxemburg fest im Griff. Der seit dem 18. März
          geltende Notstand führt zu nie dagewesenen Eingriffen und
          Einschränkungen in unserem Privat- und Berufsleben.
        </p>
        <p>
          Das Centre for Contemporary and Digital History (C2DH) der Universität
          Luxemburg möchte mit der Online-Plattform #covidmemory den Menschen,
          die in Luxemburg leben oder arbeiten, die Gelegenheit bieten, ihre
          persönlichen Erfahrungen miteinander zu teilen und für spätere
          Generationen zu archivieren. Jeder kann auf der offenen und freien
          Plattform ihre und seine Fotos, Videos oder Geschichten einstellen.
        </p>
        <p>
          Wir möchten dokumentieren und zeigen, wie Covid19 unser Leben verändert
          hat. Wie gestalten wir unser Familienleben mit und ohne Social
          Distancing? Wie verändert Homeoffice unser Arbeitsleben?
          Wie gehen die Betroffenen und ihr Umfeld mit der Krankheit um?
          Wie gestaltet sich Schule als digitaler Unterricht? Welche
          Vorstellungen haben wir von Pandemien und Seuchen? Wie
          informieren wir uns? Dies sind nur einige der Fragen,
          zu denen wir persönliche Erfahrungen aller, die in Luxemburg
          leben, aber auch der Grenzgänger, sammeln möchten.
        </p>
        <p>
          Von Interesse sind alle Arten von Texten, wie Aushänge, Warnhinweise
          und Verordnungen, E-Mails und Artikel in Zeitungen und Zeitschriften,
          Einkaufszettel und Einsatzberichte, zudem Fotos, Zeichnungen, Bilder,
          Sprachnachrichten, Lieder und Videos, Chats und Social Media Posts.
        </p>
        <p>
          Wir laden alle ein, ihre Dokumente auf die Plattform hochzuladen,
          damit sie Teil einer Sammlung werden, die die Covid19-Krise in
          Luxemburg in all ihren Facetten widerspiegelt.
        </p>
      </div>
      <div v-else>
        <p>
          The COVID-19 pandemic is an event whose historic dimension is 
          immediately obvious. Comparisons with the Spanish flu at the end of 
          the First World War and the (uniquely Western) assessment that it is 
          the greatest crisis since the Second World War are on everyone’s 
          lips. Luxembourg’s state of emergency has led to unprecedented 
          restrictions in our private and professional lives.
        </p>
        <p>
          With the online platform #covidmemory, the Luxembourg Centre for 
          Contemporary and Digital History (C2DH) at the University of 
          Luxembourg wants to offer all people living or working in Luxembourg 
          the opportunity to share their experiences and preserve them for 
          future generations. Anyone can upload photos, videos or texts to 
          this open and free web-based platform, allowing us to document how 
          the pandemic has changed our lives. How do we manage our family life 
          with or without social distancing? How does teleworking change our 
          professional lives? How do people and their environments cope with 
          the disease? How does school function via digital education? What are 
          our representations of pandemics and epidemics? How do we inform and 
          educate ourselves? These are just some of the questions we aim to 
          explore by collecting the experiences of those living and working in 
          Luxembourg.
        </p>
        <p>
          We are interested in a wide range of media: posters, warnings or 
          orders, emails, newspaper and magazine articles, shopping lists and 
          reports, but also personal photos, drawings, voice messages, songs 
          and videos, and chats or posts from social media. We invite 
          participants to share their memories on our platform to form part of 
          a collection that will reflect the COVID-19 crisis in Luxembourg in 
          all its dimensions.
        </p>
      </div>
    </div>
  </page>
</template>

<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
