<template lang="html">
  <div>
    <h1>Memories.</h1>
    <div class="card-columns">
      <div v-for="(item,i) in memories" :key="i"
        @click="openMemory(item)"
        class="card">
        <img class="card-img-top" :src="item.getThumbnail('large')" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.content}} </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { items } from '@/services';
import Memory from '@/models/Memory';

export default {
  data: () => ({
    totalMemories: 0,
    memories: [],
  }),
  methods: {
    openMemory(memory) {
      this.$router.push({
        name: 'Memory',
        params: {
          id: memory.id,
        },
      });
    },
  },
  mounted() {
    // initialise with empty memories.
    this.items = Array(Math.round(Math.random() * 50) + 1)
      .fill()
      .map(() => new Memory());
    items.find().then(({ data, total }) => {
      // console.info(data, total);
      this.totalMemories = total;
      this.memories = data.map((d) => Memory.create(d));
      console.info(this.memories);
    });
  },
};
</script>

<style lang="css" scoped>
</style>
