<template>
  <page class="terms">
    <template v-slot:title>
      <span v-html="$t('views.privacy.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.privacy.subheading')" />
    </template>

    <div>
      <!-- <div v-if="$i18n.locale === 'fr'">
        (FR)
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        (DE)
      </div>
      <div v-else> -->
      <div>
        <p>
          (privacy)
        </p>
      </div>
    </div>
  </page>
</template>


<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
