<template>
  <page class="terms">
    <template v-slot:title>
      <span v-html="$t('views.terms.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.terms.subheading')" />
    </template>

    <div>
      <!-- <div v-if="$i18n.locale === 'fr'">
        (FR)
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        (DE)
      </div>
      <div v-else> -->
      <div>
        <p>
          By consulting the pages of this site, you agree to respect these
          terms and conditions. <br />
          You are solely responsible for the selection, use and
          interpretation of thedata which you consult, search and transmit
          on the Internet.<br />
          The C²DH reserves the right to modify this legal notice at any time.
          By using this site, you agree to abide by the terms of use set out in
          the most recent version of the legal notice available on
          the website at the time of use
        </p>
        <h4>
          Copyright
        </h4>
        <p>
          All the information available on the website http://covidmemory.lu
          is protected by copyright. Unless otherwise indicated, reproduction
          of texts from this site for non-commercial purposes and especially
          in educational situations is permitted, subject to the following three
          conditions being met:
        </p>
        <ul>
          <li>Free dissemination;</li>
          <li>
            Respect for the integrity of the reproduced documents:
            no modificationor alteration of any kind;
          </li>
          <li>
            Explicit mention of the site covidmemory.lu as a source and
            statement that the rights of reproduction are reserved and limited.
          </li>
        </ul>
        <p>
          Any exception to these rules shall be subject to the prior written
          approval of the University of Luxembourg and the author/contributor
          of the website content.Photographic credits: unless otherwise stated,
          the photographs on this website are protected by copyright and are
          the property of the University of Luxembourg.Content provided by
          the C²DH is    not necessarily comprehensive, exhaustive, accurate
          or up to date. If, despite our best efforts, errors were to be found,
          the C²DH may not be held responsible. The C²DH would nevertheless
          appreciate being informed of any such errors.
        </p>
        <h4>
          Policy regarding links
        </h4>
        <p>
          Links to external websites or other sources do not constitute a
          recommendation or guarantee on the part of the C²DH regarding
          their content, which remains the exclusive responsibility of their
          authors.<br />
          The C²DH is    happy to authorise any website (source site) to insert,
          for non-commercial purposes, a  hyperlink to the home page of the
          site covidmemory.lu or to one of its inner pages
          (sites or target pages), provided that:
        </p>
        <ul>
          <li>
            the source site does not disseminate information of a political,
            religious, pornographic or xenophobic nature or which might offend
            the sensibilities of others;
          </li>
          <li>
            the target page of the site covidmemory.lu does not launch in
            a frame as part of the source site but in    a new window.
          </li>
        </ul>
        <p>
          The C²DH reserves the right to refuse this permission.<br/>
          The C²DH would appreciate being informed by e-mail
          (covidmemory@uni.lu) of the creation of any links to
          the site covidmemory.lu.
        </p>
        <h4>
          Data privacy
        </h4>
        <h5>
          Your personal data and our website
        </h5>
        <p>
          The data collected on our site stem exclusively from personal
          information provided on a voluntary basis, for example when you
          contribute an item to the memory bank.It   will not be shared
          with any organisation - commercial or otherwise excepted in
          case of external consultancy in    relation with the website.
          In such case appropriate measures will be implemented.<br />
          We will never divulge your personal data for direct marketing purposes.
        </p>
        <p>
          We put in place measures to ensure that your data are kept up-to-date
          andprocessed securely in    compliance with the General Data
          Protection Regulation 2016/679 (hereafter “GDPR”).
        </p>
        <p>
          Our purpose is    the management of public relations (management of
          contacts and public relations, social and professional for the
          organisation).According to the GDPR you have a   right to access,
          rectify, erase, object to or restrict the processing related
          to your personal data.
        </p>
        <p>
          You can exercise your rights by sending a message to covidmemory@uni.lu.
          We do not keep your personal information for longer than necessary
          for thepurposes for which we collected it.However, we may
          keep your information for a longer period for historical,
          statistical or scientific purposes with the appropriate
           safeguards in    place.
        </p>
        <h5>
          Cookies
        </h5>
        <p>
          The C²DH uses cookies on this website for its technical functioning
          and for gathering statistics.The legal basis for processing personal
          data by using session cookies is    Art. 6 para. 1 point f)
          GDPR (legitimate interest). Without the use of the sessioncookies
          especially, several functions could not be offered on our website.
          A   cookie is    a small piece of data that a   website stores on
          the visitor’s computer or mobile device.
          The information on this page lists the cookies that
          this website uses anddescribes their purpose.
          You will also find some more detail here about cookies relating to
          our social media channels and Google Analytics, the service we use
          for our statistics.
        </p>
      </div>
    </div>
  </page>
</template>


<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
