<template lang="html">
  <div class="w-100">
    <div class="d-none d-md-block">
      <navbar-desktop
        :langs="langs"
        :lang="lang"
        :form-url="formUrl"
        @change-language="changeLanguage" />
    </div>
    <div class="d-md-none">
      <navbar-mobile
        :langs="langs"
        :lang="lang"
        :form-url="formUrl"
        @change-language="changeLanguage" />
    </div>
  </div>
</template>

<script>
import NavbarDesktop from '@/components/NavbarDesktop.vue';
import NavbarMobile from '@/components/NavbarMobile.vue';

export default {
  props: {
    langs: Array,
    lang: String,
    formUrl: String,
  },
  methods: {
    changeLanguage(lang) {
      this.$i18n.locale = lang;
      this.$store.dispatch('settings/SET_LANGUAGE', lang);
    },
  },
  components: {
    NavbarDesktop,
    NavbarMobile,
  },
};
</script>

<style lang="css" scoped>
</style>
