<template >
  <div class="tooltip position-absolute" :style="tooltipStyle" v-show="visible">
    <div class="d-flex justify-content-center">
      <div class="tooltip-inner"><b>{{ item.title }}</b><br/> {{ formattedItemDate }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
    },
    visible: {
      type: Boolean,
    },
    coords: {
      type: Object,
    },
  },
  computed: {
    tooltipStyle() {
      const { x = 0, y = 0 } = this.coords;
      return {
        transform: `translate(${x}px,${y}px)`,
      };
    },
    formattedItemDate() {
      if (this.item) {
        return this.item.getFormattedDate();
      }
      return '';
    },
  },
  mounted() {

  },
};
</script>

<style lang="css" scoped>
.tooltip{
  top: 10px;
  left: 0;
  color: white;
  opacity: 1;
  width: 300px;
  margin-left: -150px;
  pointer-events: none;
}
.tooltip-inner{
  max-width: 200px;
  background: black;
}
</style>
