<template>
  <div id="app" :class="appClass">
    <div class="content">
      <div id="nav">
        <navbar :form-url="formUrl" :langs="langs" :lang="$i18n.locale"/>
      </div>
      <transition name="fade" mode="out-in">
        <router-view class="container"/>
      </transition>
    </div>
    <footer class="footer">
      <b-container class="my-5">
        <b-row class="text-left">
          <b-col>
            <a href="https://c2dh.uni.lu"
              title="C2DH | Luxembourg Centre for Contemporary and Digital History"
              target="_blank">
              <img src="./assets/c2dh-logo-black.svg"
                alt="C2DH"
                style="height:40px"
              />
              <p class="mb-0 mt-3">
                C2DH | Luxembourg Centre for Contemporary and Digital History
              </p>
            </a>
          </b-col>
          <b-col>
            <a href="https://uni.lu"
              title="University of Luxembourg"
              target="_blank">
              <img src="./assets/unilu-logo.svg"
                alt="University of Luxembourg"
                style="height:40px"
              />
              <p class="mb-0 mt-3">
                University of Luxembourg
              </p>
            </a>
          </b-col>
          <b-col>
            <p class="font-weight-bold" v-html="$t('usefulLinks')" />
            <router-link :to="{ name: 'Terms' }">{{$t('to.terms')}}</router-link>
            <br/>
            <router-link :to="{ name: 'Privacy' }">{{$t('to.privacy')}}</router-link>
          </b-col>
        </b-row>
        <b-row class="mt-4 pt-4 text-center" style="border-top: 1px solid #a0a0a0">
          <b-col>Copyright © Université du Luxembourg 2020. All rights reserved</b-col>
        </b-row>
      </b-container>
    </footer>
    <cookie-disclaimer />
  </div>
</template>

<script>
import CookieDisclaimer from '@/components/CookieDisclaimer.vue';
import Navbar from '@/components/Navbar.vue';

const VUE_APP_FORM_URL = process.env.VUE_APP_FORM_URL || '/form';
console.info('VUE_APP_FORM_URL', VUE_APP_FORM_URL);

export default {
  props: {
    langs: {
      type: Array,
      default: () => ['en', 'fr', 'de'],
    },
  },
  components: {
    Navbar,
    CookieDisclaimer,
  },
  computed: {
    formUrl() {
      return `${process.env.VUE_APP_FORM_URL}?lang=${this.$i18n.locale}`;
    },
    appClass() {
      if (['dark', 'orange'].includes(this.$route.query.variant)) {
        return this.$route.query.variant;
      }
      return '';
    },
  },
};
</script>
<style lang="scss">
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html{
  height: 100%;
}
body{
  min-height: 100%;
  padding-top: 5rem;
  font-family: IBM Plex Sans, sans-serif;
  background: #eaeaea;
}

.footer a{
  color: #101010;
  text-decoration: underline;
}
.contents {
  font-size: 1.25rem;
}

.content {
  flex: 1 0 auto;
}
.footer{
  flex-shrink: 0;
  // background: #e0e0e0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
  // color: black;
  color: #270f0c;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1{
  font-size: 1.8rem;
  font-weight: bold;
}

h3{
  font-size: 1.3rem;
  line-height: 2rem;
}
h4{
  font-size: inherit;
  font-weight: bold;
  margin-top: 1.3rem;
}
.contents{
  font-size: 1rem;
}
@media (min-width: 768px) {
  #nav {
    padding: 30px;
  }
  body{
    padding-top: 0;
  }
  h1{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .contents{
    font-size: 1.25rem;
  }
  h4{
    margin-top: 2.5rem;
  }
}

@media (min-width: 996px) {

}

.navbar {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #fe654f;
    }
  }
  .dropdown-item.active, .dropdown-item:active{
    color: #007bff;
  }
}

.dropdown-item.active, .dropdown-item:active{
  background-color: transparent;
  color: #007bff;
}
/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(2.2, 2.2); opacity: 0.0;}
}
</style>
